extends ../layout

block content   
    .pestanas 
        a.pestana.activa5(href="/turno/generar")  Generar Turno
        span.separator
        a.pestana.activa5(href="/turno/lista")  Listar Turnos 