extends ../layout

block content
        .contenido-pestana#turno
            h2 Asignación de Turno
            p#texto Seleccione un turno disponible para el paciente.

            .grupo-formulario 
                label(filtro-turnos) Filtrar por:
                select#filtro-turnos(onchange="filtrarTurnos()")
                    option(value="Todas") Todos los turnos
                    option