extends layout

block content
    
    .contenido-logo        
        // Contenedor para la imagen de fondo y el logo 
        img(src="/img/HospitalCartel.png" alt="Logo del Hospital").logo-central 