doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title HIS Hospital - Recepción
    link(rel="stylesheet" href="/estilos.css")
  
  body 
    .contenedor    
      header 
        img(src="img/Logo-Hospital.jpg" alt="Logo del Hospital")
        .logo HIS Hospital
        .info-usuario
          span Recepcionista: #{usuario}
      block content      
      
        
