doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title HIS Hospital - Recepción
    link(rel="stylesheet" href="/estilos.css")
  
  body 
    .contenedor    
      header
        .navbar
          .navbar-left
            img(src="/img/Logo-Hospital.jpg" alt="Logo del Hospital")
            .logo HIS Hospital
          .navbar-center
            nav
              a#recepcion(href="/recepcion") Recepción
              a(href="/turno/elegir") Turno              
              a(href="/pacientes/lista") Paciente
          .navbar-right
            .info-usuario
              span Recepcionista: #{usuario}
      block content      
      
        
