doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title HIS Hospital - Login 
    link(rel="stylesheet" href="/login.css") 
  body
    .contenedor-login
      img.logo-hospital(src="img/Logo-Hospital1.jpg" alt="Logo del Hospital")
      h1.titulo Sistema Hospitalario HIS
      
      form#formulario-login(action="/login" method="POST")
        .grupo-formulario
          label(for="usuario") Usuario
          input#username(type="text" name="username" placeholder="Ingrese su usuario")
        
        .grupo-formulario
          label(for="password") Contraseña
          input#password(type="password" name="password" placeholder="Ingrese su contraseña")

        button.boton-login(type="submit") Iniciar Sesión
   
    script(src="/scriptLogin.js")
