doctype html
html(lang="es")
    header
        img src="/TP-Integrador/Hospital-HIS/img/Logo-Hospital.jpg" alt="Logo del Hospital"
        div.logo HIS Hospital
        div.info-usuario
            span Recepcionista: Angel Baroja 
    div.pesta単as 
        div.pesta単a-activa 1. Recepcion
        div.pesta単a 2. Registro 
        div.pesta単a 3. Asignacion 
