extends ../layout

block content 
    .pestanas 
        .pestana 1. Pacientes Internados
        .pestana 2. Registro
        .pestana.activa3 3. Historial Médico
    .contenido-pestana#historial-medico
        h2 Historial Médico del Paciente
        p#texto Carga los datos sobre el historial médico del paciente internado.
       