extends ../layout

block content  
        .pestanas 
            .pestana 1. Recepci칩n
            .pestana 2. Registro
            .pestana.activa3 3. Asignaci칩n
        .contenido-pestana#asignacion
            h2 Asignacion de Habitacion 
            h3 DNI: #{dni} | Tipo de Paciente: #{tipo}
            p#texto Seleccione una habitaci칩n disponible para el paciente.
            
            .grupo-formulario 
                label(filtro-habitaciones) Filtrar por:
                select#filtro-habitaciones(onchange="filtrarHabitaciones()")
                    option(value="Todas") Todas las habitaciones
                    option(value="Ala Norte") Ala Norte
                    option(value="Ala Sur") Ala Sur
                    option(value="Ala Este") Ala Este
                    option(value="Ala Oeste") Ala Oeste
                    option(value="Individual") Individual
                    option(value="Compartida") Compartidas
      
            .grid-habitaciones#contenedor-habitaciones            

            .botones-accion 
                button.boton.boton-secundario(type="button" onclick="history.back()") Atr치s
                button.boton.boton-primario(type="button") Asignar Habitacion

            script(src="/scriptAsignacionHabitacion.js")    